/* Variables de color */
:root {
  --rosado-fondo: #f5e1ce;
  --rosado-oscuro: #c77a97;
  --texto: #4a4a4a;
  --transition: 0.25s ease;
}

/* Contenedor principal */
.header {
  width: 100%;
  padding: 18px 40px;
  background: rgba(245, 225, 206, 1); /* color del cliente */
  backdrop-filter: blur(6px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.25s ease;
}

.header-scrolled {
  background: rgba(245, 225, 206, 0.6); /* MÁS TRANSPARENTE */
  backdrop-filter: blur(14px);
  box-shadow: 0 6px 26px rgba(0, 0, 0, 0.12);
  padding: 12px 40px;
}

/* Logo */
.logo {
  height: 85px;
  width: auto;
  object-fit: contain;
  transition: height 0.25s ease;
}

.logo-link {
  display: flex;
  align-items: center;
}

/* Navegación */
.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: var(--texto);
  transition: var(--transition);
}

.nav a:hover {
  color: var(--rosado-oscuro);
  transform: translateY(-2px);
}

/*Carrito*/

.cart-icon svg {
  transition: 0.25s;
}

.cart-icon:hover svg {
  transform: translateY(-3px);
  color: var(--rosado-oscuro);
}

/* Contador sobre el carrito */
.cart-icon {
  position: relative;
}

.cart-counter {
  position: absolute;
  top: -6px;
  right: -10px;
  background: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
}

/* Responsivo */
@media (max-width: 700px) {
  .header {
    padding: 14px 20px;
  }

  .logo {
    height: 45px;
  }

  .nav {
    gap: 20px;
  }

  .nav a {
    font-size: 15px;
  }
}

/*Contenedor móvil*/

@media (max-width: 700px) {
  .cart-counter {
    top: -4px;
    right: -8px;
    font-size: 10px;
    padding: 1px 5px;
  }

  .cart-icon svg {
    width: 20px;
    height: 20px;
  }
}
