.container {
  max-width: 1200px;
  margin: auto;
}

.page-title {
  font-size: 42px;
  text-align: center;
  margin-bottom: 20px;
}

.page-subtitle {
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
}
